<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="Address" value="rtsp://192.168.1.60:554/stream1" />
      <add key="Username" value="nvr-account" />
      <add key="Password" value="pHB57WFbN" />
    </appSettings>
</configuration>